<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
    <div class="jumbotron">

        <span style="visibility: hidden">....</span>
        <h1 class="text-black display-3 mt-5 display-3" >
            Main menu:
        </h1>

        <th:block th:if="${isAdministrator == true}">
            <a class="btn bg-black glow-button mx-5 my-5"th:href="@{/administrator/products}">Products</a>
            <a class="btn bg-black glow-button mx-5 my-5"th:href="@{/administrator/merchants}">Merchants</a>
            <a class="btn bg-black glow-button mx-5 my-5"th:href="@{/administrator/sales}">Sales</a>
            <a class="btn bg-black glow-button mx-5 my-5"th:href="@{/administrator/activities}">Activities</a>
        </th:block>
        <th:block th:if="${isAdministrator == false}">
            <a class="btn bg-black glow-button mx-5 my-5"th:href="@{/merchant/sale}">Add sale</a>
            <a class="btn bg-black glow-button mx-5 my-5"th:href="@{/merchant/customers}">Customers</a>
            <a class="btn bg-black glow-button mx-5 my-5"th:href="@{/view/products}">View Products</a>
            <a class="btn bg-black glow-button mx-5 my-5"th:href="@{/merchant/post}">Post ad</a>
        </th:block>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>